
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    place-content: center;
  } 
 
  #cont{ 
     width: 300px;   
     position: relative;
     height: 150px;
     background: rgb(227, 44, 44); 
     margin: auto; 
     justify-content: center; 
     align-items: center; 
     margin-top: 20%; 
     border-radius: 40px;
    
  } 
 #cont #box{ 
     width: 50px;  
     height: 50px;
     /* background-color: white; 
     border-top:50px ;  */
     position: absolute;
  }